@charset "UTF-8";
/* enlazo los archivos de utilidades */
/* casi todos estos mixin formatean textos */
/* describo la propiedad flex para tener menos lineas de codigo en el scss */
/* variables para los 3 colores del proyecto  */
/* formulario para contactar con sombras */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.formularioContacto {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.5rem;
  height: 100%;
  flex-direction: column;
  background-color: #E51B23;
  padding: 4px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  color: white;
  box-shadow: 7px 13px 37px #000;
  margin-bottom: 40px;
  /* el cuadro para el nombre */
  /* el cuadro para el celular */
  /* el cuadro para escribir las dudas */
}
.formularioContacto .textboxnombre {
  width: 90%;
  background-color: whitesmoke;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #373333;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #373333;
}
.formularioContacto .textboxcelular {
  margin-top: 15px;
  width: 90%;
  background-color: whitesmoke;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #373333;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #373333;
}
.formularioContacto .textboxdudas {
  margin-top: 15px;
  width: 90%;
  background-color: whitesmoke;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #373333;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #373333;
}
.formularioContacto .botondudas {
  width: 90%;
  background-color: #373333;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 17px;
}

/* Estilos de productos */
.mainProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Acá va el título de cada categoría, ejemplo "Nuestra Iluminación" */
  /* Esta parte modifica el subtítulo de cada categoría */
  /* aquí le doy formato a una tabla de despachos*/
}
.mainProductos .tituloCategoria {
  text-align: center;
  padding: 5px;
  margin-top: 0.7rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2rem;
  color: #373333;
  text-transform: uppercase;
}
.mainProductos .descripcionCategoria {
  text-align: center;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #373333;
}
.mainProductos .descripcionCategoria span {
  font-weight: 800;
}
.mainProductos .displayArea {
  /* aquí va el recuadro de cada producto con flex para centrar y una altura automatica para que crezca según el contenido de cada producto*/
}
.mainProductos .displayArea .recuadroProducto {
  padding: 0.4rem;
  margin: 1rem;
  height: auto;
  width: 21.5rem;
  border: 2px solid #949494;
  /* hago una class grid en un nuevo div que será útil en los MQ de tablet y desktop */
}
.mainProductos .displayArea .recuadroProducto .tituloProducto {
  text-transform: uppercase;
  height: auto;
  margin: 0.7rem;
  background-color: #E51B23;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}
.mainProductos .displayArea .recuadroProducto .grid {
  /* la aplico flex a las imagenes para que se centren en el recuadro cuando sobrepasen el div */
}
.mainProductos .displayArea .recuadroProducto .grid .imagenProducto {
  margin: 0.7rem;
  margin-bottom: 1.5rem;
  background-color: #373333;
  box-shadow: 3px 7px 17px #000;
}
.mainProductos .displayArea .recuadroProducto .grid .descripcionProducto {
  height: auto;
  margin: 0.7rem;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #373333;
  list-style: none;
  /* quitamos los puntitos del listado */
}
.mainProductos .displayArea .recuadroProducto .grid .descripcionProducto ul {
  list-style: none;
}
.mainProductos .displayArea .recuadroProducto .grid .precioProducto {
  height: 90px;
  margin: 0.7rem;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #373333;
  display: flex;
  flex-direction: column;
  /* muevo el precio y el botón al final del div */
  align-items: flex-end;
  justify-content: flex-end;
}
.mainProductos .displayArea .recuadroProducto .grid .precioProducto span {
  font-weight: 900;
}
.mainProductos .displayArea .recuadroProducto .grid .precioProducto .botonProducto .boton1 {
  background-color: #373333;
}
.mainProductos .boxPreguntas {
  margin: 0.7rem;
  /* estilo de las preguntas que van en negrita */
  /* respuesta que van sin negrita */
}
.mainProductos .boxPreguntas .preguntas {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1rem;
  color: #373333;
}
.mainProductos .boxPreguntas .respuestas {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8rem;
  color: #373333;
  margin-bottom: 1rem;
  margin-top: -1rem;
}
.mainProductos .tablaDespacho {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  /* busco desde la clase el parrafo para dar formato al texto para san antonio la entrega y retiro es gratis*/
}
.mainProductos .tablaDespacho .tablaValores {
  padding: 4px;
  border: 3px solid #373333;
  border-collapse: collapse;
  width: 300px;
  /* selecciono los precios y los alineo a la derecha */
}
.mainProductos .tablaDespacho .tablaValores tr {
  padding: 5px;
  border: 3px solid #373333;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1rem;
  color: #373333;
  text-align: left;
  /* títulos de la tabla de costos de envío */
}
.mainProductos .tablaDespacho .tablaValores tr th {
  padding: 5px;
  border: 3px solid #373333;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1rem;
  color: #373333;
  text-align: left;
}
.mainProductos .tablaDespacho .tablaValores tr td {
  padding: 5px;
  border: 3px solid #373333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #373333;
}
.mainProductos .tablaDespacho .tablaValores .columnaCosto {
  text-align: right;
}
.mainProductos .tablaDespacho p {
  margin-top: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #373333;
  /* busco el span del parrafo para poner bold */
}
.mainProductos .tablaDespacho p span {
  font-weight: 900;
  color: #E51B23;
}

/* acá el MQ para tablet*/
/* le bajo un pixel al MQ para mejorar la visualización en dispositivos que están en el límite*/
@media screen and (min-width: 767px) {
  .mainProductos {
    /* Esta parte modifica el la descripción de cada categoría */
  }
  .mainProductos .descripcionCategoria {
    font-size: 1.2rem;
    max-width: 44rem;
  }
  .mainProductos .displayArea .recuadroProducto {
    width: 44rem;
    padding: 1rem;
    /* le aplico un grid para crear dos columnas, la descrpcion queda en la primera y la imagen con el precio en la segudna columna */
  }
  .mainProductos .displayArea .recuadroProducto .tituloProducto {
    font-size: 1.7rem;
  }
  .mainProductos .displayArea .recuadroProducto .grid {
    display: grid;
    grid-template-columns: 45% 55%;
  }
  .mainProductos .displayArea .recuadroProducto .grid .imagenProducto {
    grid-column: 2/3;
    border-radius: 0.5rem;
    overflow: hidden;
    height: 15rem;
  }
  .mainProductos .displayArea .recuadroProducto .grid .imagenProducto .carousel {
    height: 15rem;
  }
  .mainProductos .displayArea .recuadroProducto .grid .imagenProducto .carousel img {
    max-width: 100%;
    height: 15rem;
  }
  .mainProductos .displayArea .recuadroProducto .grid .descripcionProducto {
    grid-column: 1/2;
    grid-row: 1/3;
    font-size: 1.1rem;
  }
  .mainProductos .displayArea .recuadroProducto .grid .precioProducto {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 1.3rem;
    margin-bottom: 0rem;
  }
  .mainProductos .displayArea .recuadroProducto .grid .precioProducto .botonProducto .boton1 {
    font-size: 1.2rem;
  }
  .mainProductos .boxPreguntas {
    margin: 0.7rem;
    /* estilo de las preguntas que van en negrita */
    /* respuesta que van sin negrita */
  }
  .mainProductos .boxPreguntas .preguntas {
    font-size: 1.4rem;
  }
  .mainProductos .boxPreguntas .respuestas {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    margin-top: -1rem;
  }
}
/* MQ para desktop */
/* le aumento a 1400 pixeles para entonces crear dos columnas y mejorar la visualización*/
@media screen and (min-width: 1400px) {
  .mainProductos {
    /* Esta parte modifica el la descripción de cada categoría */
    /* aquí le doy formato a una tabla de despachos*/
  }
  .mainProductos .descripcionCategoria {
    font-size: 1.2rem;
    max-width: 60rem;
  }
  .mainProductos .displayArea {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* le doy menos ancho al recuadro de cada producto para que quepan en dos columnas */
  }
  .mainProductos .displayArea .recuadroProducto {
    max-width: 37rem;
    padding: 1rem;
  }
  .mainProductos .displayArea .recuadroProducto .grid .imagenProducto .carousel {
    border-radius: 0.7rem;
  }
  .mainProductos .displayArea .recuadroProducto .grid .imagenProducto .carousel img {
    object-fit: cover;
  }
  .mainProductos .displayArea .recuadroProducto .grid .descripcionProducto {
    font-size: 1.1rem;
  }
  .mainProductos .tablaDespacho {
    /* busco desde la clase el parrafo para dar formato al texto para san antonio la entrega y retiro es gratis*/
  }
  .mainProductos .tablaDespacho .tablaValores {
    width: 25rem;
  }
  .mainProductos .tablaDespacho .tablaValores tr {
    font-size: 1.5rem;
    /* títulos de la tabla de costos de envío */
  }
  .mainProductos .tablaDespacho .tablaValores tr th {
    font-size: 1.3rem;
  }
  .mainProductos .tablaDespacho .tablaValores tr td {
    font-size: 1.3rem;
  }
  .mainProductos .tablaDespacho p {
    font-size: 1.7rem;
    /* busco el span del parrafo para poner bold */
  }
  .mainProductos .tablaDespacho p span {
    font-weight: 900;
    color: #E51B23;
  }
}
/* importo fuente desde google */
/* acá importo una fuente desde assets */
@font-face {
  font-family: "Citrus Gothic";
  src: url(../assets/fuentes/fonnts.com-Citrus_Gothic_Inline_Regular.otf);
}
/* el reseteo inicial de la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* comienzo la anidación en scss */
body {
  /* dejo el menú siempre pegado al top del navegador */
  /* recuadro que va dividiendo algunas categorias */
  /* en la parte central del index va una imagen mas una descripcion de un evento en el cual son utiles nuestros productos */
  /* ícono de whatsapp fijado en la esquina inferior derecha */
}
body header {
  position: sticky;
  z-index: 1000;
  top: 0;
  /* le doy una altura al logo */
}
body header .logo {
  height: 40px;
}
body .mainIndex {
  /* le doy flex para que todos los elementos queden centrados y le digo que vaya en columnas */
  /* añado el flex desde el mixin de utilidades */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* le doy una altura al slide que saqué de bootstrap */
  /* le doy overflow hidden para que las imágenes no desborden */
  /* voy moviendo la segunda imagen para centrarla en el punto que yo quiero */
}
body .mainIndex .slide {
  height: 10rem;
  overflow: hidden;
}
body .mainIndex .encuadreCelebracion15 {
  position: relative;
  bottom: 7rem;
}
body .promoProductos {
  /* le doy formato al h1 sacando las propiedades desde el mixin */
  /* le doy flex a las cards que saqué de bootstrap, con el flex las alineo al centro y le doy un margen con gap */
}
body .promoProductos h1 {
  text-align: center;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  color: #373333;
}
body .promoProductos .promoProductosCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
body .promoProductos .promoProductosCards .card {
  height: 18rem;
  width: 21.5rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #373333;
  /* le doy flex y space para centrar el boton de las cards */
}
body .promoProductos .promoProductosCards .card img {
  object-fit: cover;
  overflow: hidden;
}
body .promoProductos .promoProductosCards .card a {
  display: flex;
  justify-content: space-around;
}
body .promoProductos .promoProductosCards .card .card-body .btn {
  background-color: #373333;
  border-color: #373333;
}
body .banner {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  /* le doy el color sacando valor desde variables de utilidades */
  background-color: #E51B23;
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;
  /* formato del texto que va dentro del recuadro, lo saco desde mixin*/
  /* algunos banner tienen un segundo texto mas pequeño */
}
body .banner .primerTextoBanner {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
}
body .banner .segundoTextoBanner {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #373333;
  /* le doy el color con variables */
  color: whitesmoke;
}
body .seccionPromoKits .detalleKits {
  /* añadimos flex con mixin para alinear al centro */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* para celulares y tablet solo se muestra una imagen para cada tipo de evento */
}
body .seccionPromoKits .detalleKits .tituloKit {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
  color: #373333;
  text-transform: uppercase;
  margin-top: 1rem;
}
body .seccionPromoKits .detalleKits .imagenKit {
  /* no se muestra en celulares ni tablets */
  /* no se muestra en celulares ni tablets */
}
body .seccionPromoKits .detalleKits .imagenKit .superpuesta1 {
  height: 12rem;
  width: 21.5rem;
  overflow: hidden;
}
body .seccionPromoKits .detalleKits .imagenKit .superpuesta2 {
  display: none;
}
body .seccionPromoKits .detalleKits .imagenKit .superpuesta3 {
  height: 12rem;
  width: 21.5rem;
  overflow: hidden;
}
body .seccionPromoKits .detalleKits .imagenKit .superpuesta4 {
  display: none;
}
body .seccionPromoKits .detalleKits .descripcionKit {
  margin-top: 0.7rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #373333;
}
body .seccionPromoKits .detalleKits .botonKit .btn {
  background-color: #373333;
  border-color: #373333;
}
body .whatsapp {
  width: 3rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

/*formatos del footer*/
footer {
  background-color: #E51B23;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 1rem;
}
footer div {
  margin: 0.5rem;
}
footer div .logoFooter {
  margin-left: 2rem;
  margin-right: 1rem;
  height: 2.5rem;
  border-radius: 0.2rem;
}
footer div .logoLlamar {
  display: none;
}
footer div .logoCorreo {
  height: 2rem;
}
footer div .telefono {
  display: none;
}
footer div .correo {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  color: whitesmoke;
  text-decoration: none;
}

/*acá vamos con el media query de tablet*/
@media screen and (min-width: 768px) {
  body {
    /* aqui va el footer, ahora con mas espacio aparece el logo de llamar*/
  }
  body main {
    /* aumento la altura del slide y cambiamos posicion de la segunda foto*/
    /*modifico la fuente por una mas grande*/
    /* aquí agrego grids para crear dos columnas, así va la imagen en una y la descrpcion justo al lado*/
  }
  body main .slide {
    height: 23rem;
  }
  body main .slide .encuadreCelebracion15 {
    position: relative;
    bottom: 15rem;
  }
  body main .promoProductos {
    /* le damos flex a las cards de bootstrap para que queden una al lado de la otra en dos filas*/
  }
  body main .promoProductos h1 {
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: #373333;
  }
  body main .promoProductos .promoProductosCards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  body main .promoProductos .promoProductosCards .card {
    width: 21rem;
  }
  body main .seccionPromoKits {
    /*repito lo mismo pero invierto las posiciones, descripcion a la primera columna e imagen a la segunda columna*/
  }
  body main .seccionPromoKits .primerKit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 20rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    /* el titulo y la descripcion pasan a la segunda columna*/
    /*la imagen pasa a la primera columna*/
    /*la descrpipcion ocupa la segunda fila de la segunda columna*/
    /* el boton queda en la ultima fila de la segunda columna*/
  }
  body main .seccionPromoKits .primerKit .tituloKit {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  body main .seccionPromoKits .primerKit .imagenKit {
    grid-column: 1/2;
    grid-row: 1/4;
    margin-right: 1rem;
  }
  body main .seccionPromoKits .primerKit .imagenKit .superpuesta1 {
    border-radius: 2rem;
    height: 18rem;
    overflow: hidden;
  }
  body main .seccionPromoKits .primerKit .descripcionKit {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  body main .seccionPromoKits .primerKit .botonKit {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body main .seccionPromoKits .segundoKit {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 20rem;
  }
  body main .seccionPromoKits .segundoKit .tituloKit {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  body main .seccionPromoKits .segundoKit .imagenKit {
    grid-column: 2/3;
    grid-row: 1/4;
    margin-left: 1rem;
  }
  body main .seccionPromoKits .segundoKit .imagenKit .superpuesta3 {
    border-radius: 2rem;
    height: 18rem;
    overflow: hidden;
  }
  body main .seccionPromoKits .segundoKit .descripcionKit {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  body main .seccionPromoKits .segundoKit .botonKit {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body footer div .logoFooter {
    height: 4rem;
    border-radius: 0.4rem;
  }
  body footer div .logoLlamar {
    display: inline;
    height: 2rem;
    margin-left: 5rem;
  }
  body footer div .logoCorreo {
    height: 2rem;
    margin-left: 1.5rem;
  }
  body footer div .telefono {
    display: inline;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
    color: whitesmoke;
    text-decoration: none;
  }
  body footer div .correo {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
    color: whitesmoke;
    text-decoration: none;
  }
}
/* media query para desktop*/
@media screen and (min-width: 1024px) {
  body {
    /* modifico algunas posiciones del footer para que quede mejor centrado en pantalla escritorio*/
  }
  body .mainIndex {
    /* aumento otro poco la altura del slide y cambio posicion de segunda foto*/
    /* acá le doy flex a las cards de bootstrap y modifico el ancho para que quepan las 4 cards en una misma fila*/
    /* el dolor de cabeza, aparecen dos imagenes extras que se superponen a las anteriores en una de las esquinas*/
  }
  body .mainIndex .slide {
    height: 28rem;
  }
  body .mainIndex .slide .encuadreCelebracion15 {
    position: relative;
    bottom: 25rem;
  }
  body .mainIndex .promoProductos .promoProductosCards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  body .mainIndex .promoProductos .promoProductosCards .card {
    width: 16rem;
  }
  body .mainIndex .promoProductos .promoProductosCards .card img {
    height: 18rem;
  }
  body .mainIndex .seccionPromoKits .primerKit .imagenKit {
    /*le doy posicion relativa para superponerla
    y le doy un z index de 1 para que quede por encima*/
  }
  body .mainIndex .seccionPromoKits .primerKit .imagenKit .superpuesta1 {
    height: 12rem;
    width: auto;
    margin-top: 7rem;
  }
  body .mainIndex .seccionPromoKits .primerKit .imagenKit .superpuesta2 {
    display: inline;
    z-index: 1;
    height: 10rem;
    position: relative;
    left: 17rem;
    bottom: 5rem;
    border-radius: 2rem;
    width: auto;
  }
  body .mainIndex .seccionPromoKits .segundoKit .imagenKit {
    /* z index de menos uno para que quede abajo de la otra imagen*/
  }
  body .mainIndex .seccionPromoKits .segundoKit .imagenKit .superpuesta3 {
    position: relative;
    right: -12rem;
    height: 12rem;
    max-width: auto;
    margin-top: 7rem;
    z-index: -1;
  }
  body .mainIndex .seccionPromoKits .segundoKit .imagenKit .superpuesta4 {
    display: inline;
    z-index: 1;
    height: 10rem;
    max-width: auto;
    position: relative;
    left: 2rem;
    bottom: 5rem;
    border-radius: 2rem;
  }
  body footer div .logoFooter {
    margin-left: 4rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    border-radius: 0.5rem;
  }
  body footer div .logoLlamar {
    margin-left: 17rem;
  }
  body footer div .logoCorreo {
    margin-left: 10rem;
  }
  body footer div .telefono {
    display: inline;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
    color: whitesmoke;
    text-decoration: none;
  }
  body footer div .correo {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
    color: whitesmoke;
    text-decoration: none;
  }
}

/*# sourceMappingURL=main.css.map */
