/* enlazo el archivo de utilidades */
@import "utilidades/mixin";
@import "utilidades/variables";
@import "utilidades/formulario";
@import "utilidades/productos";

/* importo fuente desde google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* acá importo una fuente desde assets */
@font-face {
    font-family:'Citrus Gothic' ;
    src: url(../assets/fuentes/fonnts.com-Citrus_Gothic_Inline_Regular.otf);
}

/* el reseteo inicial de la página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    header {
        position: sticky; z-index: 1000;
        top: 0;
        .logo {
            height: 40px;
        }
    }
    .mainIndex {
        @include flex;
        flex-direction: column;
        .slide {
            height: 10rem;
            overflow: hidden;
            }
            .encuadreCelebracion15 {
                position: relative;
                bottom: 7rem;
            }
        }
        .promoProductos {
            h1 {
                @include textoTitulo;
            }
            .promoProductosCards {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                .card {
                    height: 18rem;
                    width: 21.5rem;
                    @include textoSecundario;
                        img {
                            object-fit: cover;
                            overflow: hidden;
                        }
                        a {
                            display: flex;
                            justify-content: space-around;
                        }
                    
                }
            }
        }

        /* recuadro que lleva el texto "Arriendos desde $XXXXX" */
        .banner {
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            background-color: $colorPrincipal;
            padding-top: 0.4rem;
            padding-bottom: 0.2rem;
            .primerTextoBanner {
                @include textoBanner;
            }
            .segundoTextoBanner {
                @include textoSecundario;
                color: $colorTerciario;
            }
            }
        
        .seccionPromoKits {
            .detalleKits {
                @include flex;
                flex-direction: column;
                .tituloKit {
                    @include textSecundario;
                    margin-top: 1rem;
                }
                .imagenKit {
                    .superpuesta1 {
                        height: 12rem;
                        width: 21.5rem;
                        overflow: hidden;
                        z-index: -1;
                    }
                    .superpuesta2{
                        display: none;
                    }
                    .superpuesta3 {
                        height: 12rem;
                        width: 21.5rem;
                        overflow: hidden;
                        z-index: 1;
                    }
                    .superpuesta4{
                        display: none;
                    }
                }
                .descripcionKit {
                    margin-top: 0.7rem;
                    @include textoSecundario;
                }
            }
        }
        .tablaDespacho {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
                .tablaValores {
                    padding: 4px;
                    border: 3px solid $colorSecundario;
                    border-collapse: collapse;
                    width: 300px;
                    tr {
                    padding: 5px;
                    border: 3px solid $colorSecundario;
                    @include textoTitulosTabla;
                        /* títulos de la tabla de costos de envío */
                        th {
                            padding: 5px;
                            border: 3px solid $colorSecundario;
                            @include textoTitulosTabla;
                        }
                        td {
                            padding: 5px;
                            border: 3px solid $colorSecundario;
                            @include textoTabla;
                        }
                    }
                }
            /* busco desde la clase el parrafo para dar formato al texto para san antonio la entrega y retiro es gratis*/
            p {
                margin-top: 20px;
                @include textoSecundario;
                /* busco el span del parrafo para poner bold */
                span {
                    font-weight: 900;
                    color: $colorPrincipal;
                }
            }
        }
        /* ícono de whatsapp fijado en la esquina inferior derecha */
        .whatsapp {
            width: 3rem;
            position: fixed;
            right: 2rem;
            bottom: 2rem;
        }
    }

    footer {
        background-color: $colorPrincipal;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 1rem;
        div {
            margin: 0.5rem;
            .logoFooter {
                margin-left: 2rem;
                margin-right: 1rem;
                height: 2.5rem;
                border-radius: 0.2rem;
            }
            .logoLlamar {
                display: none;
            }
            .logoCorreo {
                height: 2rem;
            }
            .telefono {
                display: none;
            }
            .correo {
                @include textFooter;
                text-decoration: none;
            }
        }
    }
  
@media screen and (min-width: 768px) {

    body {
        main {
            .slide {
                height: 23rem;
                .encuadreCelebracion15 {
                    position: relative;
                    bottom: 15rem;
                }
                }
            .promoProductos {
                h1 {
                    @include textoTituloTablet;
                }
            .promoProductosCards {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                .card {
                    width: 21rem;  
                }
                }
            }

            .seccionPromoKits {
                .primerKit {
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: repeat(4,1fr);
                    height: 20rem;
                    margin-top: 2rem;
                    margin-bottom: -2rem;
                    .tituloKit {
                        grid-column: 2/3;
                        grid-row:1/2;
                    }
                    .imagenKit {
                        grid-column: 1/2;
                        grid-row:1/4;
                        margin-right: 1rem;
                        .superpuesta1 {
                            border-radius: 2rem;
                            height: 18rem;
                            overflow: hidden;
                        }
                    }
                    .descripcionKit {
                        grid-column: 2/3;
                        grid-row: 2/3;
                    }
                    .botonKit {
                        grid-column: 2/3;
                        grid-row: 3/4;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .segundoKit {
                    margin-top: 3rem;
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: repeat(4,1fr);
                    height: 20rem;
                    .tituloKit {
                        grid-column: 1/2;
                        grid-row:1/2;
                    }
                    .imagenKit {
                        grid-column: 2/3;
                        grid-row:1/4;
                        margin-left: 1rem;
                        .superpuesta3 {
                            border-radius: 2rem;
                            height: 18rem;
                            overflow: hidden;
                        }
                    }
                    .descripcionKit {
                        grid-column: 1/2;
                        grid-row: 2/3;
                    }
                    .botonKit {
                        grid-column: 1/2;
                        grid-row: 3/4;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        footer {
            div {
                .logoFooter {
                    height: 4rem;
                    border-radius: 0.4rem;
                }
                .logoLlamar {
                    display: inline;
                    height: 2rem;
                    margin-left: 5rem;
                }
                .logoCorreo {
                    height: 2rem;
                    margin-left: 1.5rem;
                }
                .telefono {
                    display: inline;
                    @include textFooterTablet;
                    text-decoration: none;
                }
                .correo {
                    @include textFooterTablet;
                    text-decoration: none;
                }
            }
        
        }
    }
}

@media screen and (min-width: 1024px) {

    body {
        .mainIndex {
            .slide {
                height: 28rem;
                .encuadreCelebracion15 {
                    position: relative;
                    bottom: 25rem;
                }
                }
            .promoProductos {
                .promoProductosCards {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    .card {
                        width: 16rem;
                        img {
                            height: 18rem;
                        }
                    }
                }
            }
            .seccionPromoKits {
                .primerKit {
                    .imagenKit {
                        .superpuesta1 {
                            height: 12rem;
                            margin-top: 7rem;
                        }
                        .superpuesta2 {
                            display: inline;
                            z-index: 1;
                            height: 10rem;
                            position: relative;
                            left: 17rem;
                            bottom: 05rem;
                            border-radius: 2rem;
                        }
                    }
                }
                .segundoKit {
                    .imagenKit {
                        .superpuesta3 {
                            position: relative;
                            right: -12rem;
                            height: 12rem;
                            margin-top: 7rem;
                            z-index: -1;
                        }
                        .superpuesta4 {
                            background-color: aquamarine;
                            display: inline;
                            z-index: 1;
                            height: 10rem;
                            position: relative;
                            left: 2rem;
                            bottom: 5rem;
                            border-radius: 2rem;
                        }
                    }
                }
            }
        }


        footer {
            div {
                .logoFooter {
                    margin-left: 4rem;
                    margin-top: 0.4rem;
                    margin-bottom: 0.4rem;
                    border-radius: 0.5rem;
                }
                .logoLlamar {
                    margin-left: 17rem;
                }
                .logoCorreo {
                    margin-left: 10rem;
                }
                .telefono {
                    display: inline;
                    @include textFooterTablet;
                    text-decoration: none;
                }
                .correo {
                    @include textFooterTablet;
                    text-decoration: none;
                }
            }
        
        }
    }
}

