/* enlazo los archivos de utilidades */
@import "utilidades/mixin";
@import "utilidades/variables";
@import "utilidades/formulario";
@import "utilidades/productos";

/* importo fuente desde google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* acá importo una fuente desde assets */
@font-face {
    font-family:'Citrus Gothic' ;
    src: url(../assets/fuentes/fonnts.com-Citrus_Gothic_Inline_Regular.otf);
}

/* el reseteo inicial de la página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* comienzo la anidación en scss */
body {
    /* dejo el menú siempre pegado al top del navegador */
    header {
        position: sticky; z-index: 1000;
        top: 0;
        /* le doy una altura al logo */
        .logo {
            height: 40px;
        }
    }
    .mainIndex {
        /* le doy flex para que todos los elementos queden centrados y le digo que vaya en columnas */
        /* añado el flex desde el mixin de utilidades */
        @include flex;
        flex-direction: column;
        /* le doy una altura al slide que saqué de bootstrap */
        /* le doy overflow hidden para que las imágenes no desborden */
        .slide {
            height: 10rem;
            overflow: hidden;
            }
            /* voy moviendo la segunda imagen para centrarla en el punto que yo quiero */
            .encuadreCelebracion15 {
                position: relative;
                bottom: 7rem;
            }
        }
        .promoProductos {
            .todoFiesta {
                /* le doy formato al h1 sacando las propiedades desde el mixin */
                h1 {
                    margin-top: 0.5rem;
                    text-align: center;
                    font-weight: 300;
                    color: $colorSecundario;
                    font-size: 2.4rem;
                    font-family:'Citrus Gothic';
                    span {
                        color: #8B3030;
                    }
                }
            }
            
            /* le doy flex a las cards que saqué de bootstrap, con el flex las alineo al centro y le doy un margen con gap */
            .promoProductosCards {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                .card {
                    height: 18rem;
                    width: 21.5rem;
                    @include textoSecundario;
                        img {
                            object-fit: cover;
                            overflow: hidden;
                        }
                        /* le doy flex y space para centrar el boton de las cards */
                        a {
                            display: flex;
                            justify-content: space-around;
                        }
                        .card-body{
                            .btn {
                                background-color: $colorSecundario;
                                border-color: $colorSecundario;
                            }
                        }
                }
            }
        }

        /* recuadro que va dividiendo algunas categorias */
        .banner {
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            /* le doy el color sacando valor desde variables de utilidades */
            background-color: $colorPrincipal;
            padding-top: 0.4rem;
            padding-bottom: 0.2rem;
            /* formato del texto que va dentro del recuadro, lo saco desde mixin*/
            .primerTextoBanner {
                @include textoBanner;
            }
            /* algunos banner tienen un segundo texto mas pequeño */
            .segundoTextoBanner {
                @include textoSecundario;
                /* le doy el color con variables */
                color: $colorTerciario;
            }
            }
        /* en la parte central del index va una imagen mas una descripcion de un evento en el cual son utiles nuestros productos */
        .seccionPromoKits {
            .detalleKits {
                /* añadimos flex con mixin para alinear al centro */
                @include flex;
                flex-direction: column;
                .tituloKit {
                    @include textoSecundario;
                    margin-top: 1rem;
                }
                /* para celulares y tablet solo se muestra una imagen para cada tipo de evento */
                .imagenKit {
                    .superpuesta1 {
                        height: 12rem;
                        width: 21.5rem;
                        overflow: hidden;
                    }
                    /* no se muestra en celulares ni tablets */
                    .superpuesta2{
                        display: none;
                    }
                    .superpuesta3 {
                        height: 12rem;
                        width: 21.5rem;
                        overflow: hidden;
                    }
                    /* no se muestra en celulares ni tablets */
                    .superpuesta4{
                        display: none;
                    }
                }
                .descripcionKit {
                    margin-top: 0.7rem;
                    @include textoSecundario;
                }
                .botonKit {
                    .btn {
                        background-color: $colorSecundario;
                        border-color: $colorSecundario;
                    }
                }
            }
        }
        
        /* ícono de whatsapp fijado en la esquina inferior derecha */
        .whatsapp {
            width: 3rem;
            position: fixed;
            right: 2rem;
            bottom: 2rem;
        }
    }

    /*formatos del footer*/
    footer {
        background-color: $colorPrincipal;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 1rem;
        div {
            margin: 0.5rem;
            .logoFooter {
                margin-left: 2rem;
                margin-right: 1rem;
                height: 2.5rem;
                border-radius: 0.2rem;
            }
            .logoLlamar {
                display: none;
            }
            .logoCorreo {
                height: 2rem;
            }
            .telefono {
                display: none;
            }
            .correo {
                @include textFooter;
                text-decoration: none;
            }
        }
    }

/*acá vamos con el media query de tablet*/
@media screen and (min-width: 768px) {

    body {
        .mainIndex {
            /* aumento la altura del slide y cambiamos posicion de la segunda foto*/
            .slide {
                height: 17rem;
                .encuadreCelebracion15 {
                    position: relative;
                    bottom: 15rem;
                }
                }
            /*modifico la fuente por una mas grande*/
            .promoProductos {
                .todoFiesta {
                    /* le doy formato al h1 sacando las propiedades desde el mixin */
                    h1 {
                        margin-top: 0.5rem;
                        font-weight: 400;
                        font-size: 4rem;
                }
            }
                /* le damos flex a las cards de bootstrap para que queden una al lado de la otra en dos filas*/
                .promoProductosCards {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    .card {
                        width: 21rem;  
                    }
                    }
                }
    
                /* aquí agrego grids para crear dos columnas, así va la imagen en una y la descrpcion justo al lado*/
                .seccionPromoKits {
                    .primerKit {
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        grid-template-rows: repeat(4,1fr);
                        height: 20rem;
                        margin-top: 2rem;
                        margin-bottom: -2rem;
                        /* el titulo y la descripcion pasan a la segunda columna*/
                        .tituloKit {
                            grid-column: 2/3;
                            grid-row:1/2;
                        }
                        /*la imagen pasa a la primera columna*/
                        .imagenKit {
                            grid-column: 1/2;
                            grid-row:1/4;
                            margin-right: 1rem;
                            .superpuesta1 {
                                border-radius: 1.2rem;
                                height: 18rem;
                                overflow: hidden;
                            }
                        }
                        /*la descrpipcion ocupa la segunda fila de la segunda columna*/
                        .descripcionKit {
                            grid-column: 2/3;
                            grid-row: 2/3;
                        }
                        /* el boton queda en la ultima fila de la segunda columna*/
                        .botonKit {
                            grid-column: 2/3;
                            grid-row: 3/4;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    /*repito lo mismo pero invierto las posiciones, descripcion a la primera columna e imagen a la segunda columna*/
                    .segundoKit {
                        margin-top: 3rem;
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        grid-template-rows: repeat(4,1fr);
                        height: 20rem;
                        .tituloKit {
                            grid-column: 1/2;
                            grid-row:1/2;
                        }
                        .imagenKit {
                            grid-column: 2/3;
                            grid-row:1/4;
                            margin-left: 1rem;
                            .superpuesta3 {
                                border-radius: 1.2rem;
                                height: 18rem;
                                overflow: hidden;
                            }
                        }
                        .descripcionKit {
                            grid-column: 1/2;
                            grid-row: 2/3;
                        }
                        .botonKit {
                            grid-column: 1/2;
                            grid-row: 3/4;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }   
        }

        /* aqui va el footer, ahora con mas espacio aparece el logo de llamar*/
        footer {
            div {
                .logoFooter {
                    height: 4rem;
                    border-radius: 0.4rem;
                }
                .logoLlamar {
                    display: inline;
                    height: 2rem;
                    margin-left: 5rem;
                }
                .logoCorreo {
                    height: 2rem;
                    margin-left: 1.5rem;
                }
                .telefono {
                    display: inline;
                    @include textFooterTablet;
                    text-decoration: none;
                }
                .correo {
                    @include textFooterTablet;
                    text-decoration: none;
                }
            }
        
        }
    }
}

/* media query para desktop*/
@media screen and (min-width: 1024px) {

    body {
        .mainIndex {
            /* aumento otro poco la altura del slide y cambio posicion de segunda foto*/
            .slide {
                height: 28rem;
                .encuadreCelebracion15 {
                    position: relative;
                    bottom: 25rem;
                }
                }
            /* acá le doy flex a las cards de bootstrap y modifico el ancho para que quepan las 4 cards en una misma fila*/
            /*modifico la fuente por una mas grande*/
            .promoProductos {
                .todoFiesta {
                    /* le doy formato al h1 sacando las propiedades desde el mixin */
                    h1 {
                        margin-top: 0.5rem;
                        font-weight: 400;
                        font-size: 4.5rem;
                    }
                }
                .promoProductosCards {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    .card {
                        width: 16rem;
                        img {
                            height: 18rem;
                        }
                    }
                }
            }
            /* el dolor de cabeza, aparecen dos imagenes extras que se superponen a las anteriores en una de las esquinas*/
            .seccionPromoKits {
                .primerKit {
                    .imagenKit {
                        .superpuesta1 {
                            height: 12rem;
                            width: auto;
                            margin-top: 7rem;
                        }
                        /*le doy posicion relativa para superponerla
                        y le doy un z index de 1 para que quede por encima*/
                        .superpuesta2 {
                            display: inline;
                            z-index: 1;
                            height: 10rem;
                            position: relative;
                            left: 17rem;
                            bottom: 5rem;
                            border-radius: 2rem;
                            width: auto;
                        }
                    }
                }
                .segundoKit {
                    .imagenKit {
                        /* z index de menos uno para que quede abajo de la otra imagen*/
                        .superpuesta3 {
                            position: relative;
                            right: -12rem;
                            height: 12rem;
                            max-width: auto;
                            margin-top: 7rem;
                            z-index: -1;
                        }
                        .superpuesta4 {
                            display: inline;
                            z-index: 1;
                            height: 10rem;
                            max-width: auto;
                            position: relative;
                            left: 2rem;
                            bottom: 5rem;
                            border-radius: 2rem;
                        }
                    }
                }
            }
        }
    
        /* modifico algunas posiciones del footer para que quede mejor centrado en pantalla escritorio*/
        footer {
            div {
                .logoFooter {
                    margin-left: 4rem;
                    margin-top: 0.4rem;
                    margin-bottom: 0.4rem;
                    border-radius: 0.5rem;
                }
                .logoLlamar {
                    margin-left: 17rem;
                }
                .logoCorreo {
                    margin-left: 10rem;
                }
                .telefono {
                    display: inline;
                    @include textFooterTablet;
                    text-decoration: none;
                }
                .correo {
                    @include textFooterTablet;
                    text-decoration: none;
                }
            }
        
        }
    }
}

